body {
	color: white;
	font-family: 'Julius Sans One', sans-serif;
	background-repeat: no-repeat;
	background-color: #111111;
}

#card {
	height: 100%;
	width: 400px;
	padding: 20px;
	background-color: #111111;
	border-style: solid;
	border-width: 1px;
	border-color: white;
}

img {
	border-radius: 150px;
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#name {
	margin-bottom: -2%;
	/*-webkit-border-bottom-left-radius: 1px;
	text-shadow: 1px 1px 5px #fff;
	overflow: hidden;*/
}

#info {
	color: gray;
	width: 100%;
	text-align: left;
/*	margin-bottom: 40%;*/
	line-height: 0.3;
	/*letter-spacing: 5;*/
	font-family: 'Titillium Web', sans-serif;	
}

#work {
	font-family: 'Titillium Web', sans-serif;
	margin-top: 50px;
	color: gray;
	text-align: left;
	width: 400px;
}

#work .title {
	font-family: 'Julius Sans One', sans-serif;
	margin-bottom: -20px;
	margin-top: 40px;
	color: white;
}

.description {
	color: black;
	border-style: solid;
	border-width: 1px;
	background-color: #EEEEEE;
	padding: 20px;
	margin-left: 8%;
	width: 50%;
	font-family: 'Titillium Web', sans-serif;
	line-height: 25px;
	height: 150px;
}